:root {
    /* width */
    --card-width: 28vw;
  
    --card-width-compact: 24vw;
    --card-width-medium: 28vw;
    --card-width-wide: 32vw;

    /* font size */
    --card-fontSize: 15px;

    --card-fontSize-small: 13px;
    --card-fontSize-medium: 16px;
    --card-fontSize-large: 19px;

    /* border */
    --card-borderRadius: 15px;

    --card-borderRadius-square: 0px;  
    --card-borderRadius-soft: 8px;     /* мягкие углы */
    --card-borderRadius-medium: 20px;  /* средние углы (по умолчанию) */
    --card-borderRadius-round: 35px;   /* скруглённые углы */
    
    /* border color */
    --card-borderColor: #ff9800;

    --card-borderColor-minor: var(--color-minor);
    --card-borderColor-highlighted: #ff9800;



    
  }